
#root {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

@media (max-width: 640px) {
  html, body {
    font-size: 14px;
  }
}
